@(orderForm : Form[Order])


<html>
<head>
    <title>Create New Order</title>
</head>
<body>

<h1>Create New Order</h1>

@import controllers.OrdersController
@import play.api.data.Form
@import views.html.helper.inputText
@import controllers.routes
@import views.html.helper

@helper.form(action = routes.OrdersController.saveOrder()){



<h1>This page is not currently functioning</h1>


<input type="submit" value="Create Order">
}

<ul>
    <li><a href="/">Return Home</a> </li>
</ul>
</body>

</html>


